body {
    background-image: url("https://img.freepik.com/free-vector/vibrant-fluid-gradient-background-with-curvy-shapes_1017-32108.jpg");
    background-attachment: fixed;
    background-size: 1500px;
    background-repeat: no-repeat;
}


.effect {
    text-align: center;
    background-color: aqua;
    padding: 22px;
    border: 5px solid blueviolet;
    border-radius: 30px;
    box-shadow: 10px 10px 20px blue;
}

h2{
    text-align: center;
    background-color: yellowgreen;
    padding: 56px;
    border: 6px solid yellow;
    border-radius: 300px;
    box-shadow: 30px 30px 40px darkolivegreen;
}