h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px;
    color: yellowgreen;
    background-color: red;
    padding: 20px;
    width: 500px;
    height: 50px;
    margin: auto;
    border-radius: 500px;
    box-shadow: 20px 30px 70px;
}